@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(106, 155, 172);
  color: black;
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-cards{
  --rotate: calc(var(--index) - var(--totalCards)/2);
  --degree: calc(180/var(--totalCards));
  rotate: calc(var(--rotate)*var(--degree)*1deg);
  transform-origin:  bottom left;
}
