@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(106, 155, 172);
  color: black;
} 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
